<!DOCTYPE html >
<html lang="en"
      ng-app ="minmax">
<head >
	<title >Controllers</title >
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
</head >

<body >


<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form Validations
			</a >
		</div >

	</div >
</nav >

<div class="container main-content" ng-controller="minMaxController" >

	<form ng-submit="onSubmit(theForm.$valid)"
          name="theForm"
          novalidate="novalidate" >
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
					ng-model="formModel.name"
			       id="name" >

		</div >

		<div class="form-group" ng-class="{'has-error':!theForm.email.$valid && (!theForm.$pristine ||theForm.$submitted),
		                                    'has-success':theForm.email.$valid && !theForm.$pristine}">
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
				   ng-model="formModel.email"
			       id="email"
                   required="required"
            name="email">
            <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine ||theForm.$submitted)">
                This Feild Is Required
            </p>
            <p class="help-block" ng-show="theForm.email.$error.email">
                Please Enter The E-mail
            </p>
		</div >

        <div class="form-group" >
            <label for="username" >Username</label >
            <input type="text"
                   class="form-control"
                   ng-model="formModel.username"
                   id="username" >
        </div >

        <div class="form-group" >
            <label for="age" >Age</label >
            <input type="number"
                   class="form-control"
                   ng-model="formModel.age"
                   id="age" >
        </div >



        <div class="form-group" >
            <label for="sex" >Sex</label >
            <select name="sex" id="sex" class="form-control"
                    ng-model="formModel.sex">
                <option>Please choose</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
				   ng-model="formModel.password"
			       id="password" >
		</div >

		<div class="form-group" >
			<button class="btn btn-primary" type="submit">Register
			</button >
		</div >

	</form >
<pre>{{theForm | json}}</pre>
</div >


<script src="main.js" ></script >
<


</body >
</html >
